@import url("https://fonts.googleapis.com/css?family=Varela+Round");

h1 {
    color: navy;
    margin-left: 20px;
    font-family: 'Varela Round', sans-serif;
    font-size: 85px;
  	vertical-align: top;

}

h2{
	color: navy;
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
  	vertical-align: bottom;

}

h1 span {
    float: right;
    vertical-align: bottom;
    padding-right: 1.5em;
    }

.subheader {
	padding-left: 1.5em;
	color: navy;
    font-family: 'Varela Round', sans-serif;


}

.subheader h4{
	font-size: 35px;

}

.subheader h5{
	font-size: 20px;
	margin-top: -40px;
	margin-bottom: 0px;
}

.social img{

	max-width: 13.3333333%;
	max-height: 13.3333333%
}


.contact{
	text-align: right;
	padding-right: 1.5em;
	font-family: 'Varela Round', sans-serif;
	color: navy;
}
.social{
	max-width: 33.3333333%;
	padding-left: 1.5em;
	
}

.intro{
	color: navy;
    margin-left: 20px;
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;	
}

.about{
	padding: 0 1.5em 3em 1.5em;

	max-width: 50.33333333%;
	float: left;
}

.about img{
	max-width: 33.333333333%;
	max-height: 33.33333333%;

}

.desc2{
	font-family: "calluna", Georgia;

}

.column img {
    max-width: 100%;
    max-height: 100%;
}


.container{
	text-align: left;
}

.bio{
	font-family: "calluna", Georgia;
	text-align: left;
	font-size: 25px;
	padding: 0 1.5em 1.5em 1.5em;

}

.desc{

	font-family: "calluna", Georgia;
	 padding: 0 1.5em 1.5em 0em;
}

.column {
  width: 33.3333333%;
  float: left;
  padding: 0 1.5em 3em 1.5em;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}